body {
    padding: 5vh 15vw 5vh 3vw;
    background-color: rgb(156, 53, 53);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 20px;
}

div {
    margin: 5%;
}