body {
    padding: 5vh 15vw 5vh 3vw;
    background-color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

p {
    font-size: 25px;
}

div {
    margin: 5%;
}