body {
    padding: 5vh 15vw 5vh 3vw;
    background-color: whitesmoke;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 16px;
}

p {
    font-size: 16px;
}

div {
    margin: 5%;
}